openapi: 3.2.0
info:
  title: Azure Synapse Analytics Sql Pools API
  description: Manage dedicated SQL pools for enterprise data warehousing workloads including provisioning, scaling, pausing, and resuming compute resources.
  version: '2021-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: SQL Pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools
  : get:
      operationId: SqlPools_ListByWorkspace
      summary: Azure Synapse Analytics List SQL pools by workspace
      description: List all SQL pools within a workspace.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved the list of SQL pools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPoolInfoListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}
  : get:
      operationId: SqlPools_Get
      summary: Azure Synapse Analytics Get a SQL pool
      description: Get SQL pool properties.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved the SQL pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPool'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: SqlPools_Create
      summary: Azure Synapse Analytics Create a SQL pool
      description: Create a SQL pool.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlPool'
      responses:
        '200':
          description: Successfully updated the SQL pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPool'
        '202':
          description: SQL pool creation accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: SqlPools_Update
      summary: Azure Synapse Analytics Update a SQL pool
      description: Apply partial modifications to a SQL pool.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlPoolPatchInfo'
      responses:
        '200':
          description: Successfully updated the SQL pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPool'
        '202':
          description: SQL pool update accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: SqlPools_Delete
      summary: Azure Synapse Analytics Delete a SQL pool
      description: Delete a SQL pool.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      responses:
        '200':
          description: Successfully deleted the SQL pool.
        '202':
          description: SQL pool deletion accepted.
        '204':
          description: SQL pool not found.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}/pause
  : post:
      operationId: SqlPools_Pause
      summary: Azure Synapse Analytics Pause a SQL pool
      description: Pause a SQL pool to suspend compute operations.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      responses:
        '200':
          description: Successfully paused the SQL pool.
        '202':
          description: SQL pool pause accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}/resume
  : post:
      operationId: SqlPools_Resume
      summary: Azure Synapse Analytics Resume a SQL pool
      description: Resume a SQL pool to reactivate compute operations.
      tags:
      - SQL Pools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/SqlPoolNameParameter'
      responses:
        '200':
          description: Successfully resumed the SQL pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlPool'
        '202':
          description: SQL pool resume accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      schema:
        type: string
    SqlPoolNameParameter:
      name: sqlPoolName
      in: path
      required: true
      description: SQL pool name.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2021-06-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
  schemas:
    SqlPoolPatchInfo:
      type: object
      description: SQL pool patch info.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        location:
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          type: object
          properties:
            maxSizeBytes:
              type: integer
              format: int64
            collation:
              type: string
            createMode:
              type: string
    SqlPool:
      type: object
      description: A SQL pool resource.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
          description: The geo-location where the resource lives.
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          $ref: '#/components/schemas/SqlPoolProperties'
    SqlPoolProperties:
      type: object
      description: SQL pool properties.
      properties:
        maxSizeBytes:
          type: integer
          format: int64
          description: Maximum size in bytes.
        collation:
          type: string
          description: Collation mode.
        sourceDatabaseId:
          type: string
          description: Source database ID for restore.
        recoverableDatabaseId:
          type: string
          description: Recoverable database ID for geo-restore.
        provisioningState:
          type: string
          description: Resource provisioning state.
          readOnly: true
        status:
          type: string
          description: Resource status.
          readOnly: true
        restorePointInTime:
          type: string
          format: date-time
          description: Snapshot time to restore.
        createMode:
          type: string
          description: The create mode.
          enum:
          - Default
          - PointInTimeRestore
          - Recovery
          - Restore
        creationDate:
          type: string
          format: date-time
          readOnly: true
        storageAccountType:
          type: string
          description: The storage account type.
          enum:
          - GRS
          - LRS
    ErrorResponse:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    SqlPoolInfoListResult:
      type: object
      description: List of SQL pools.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SqlPool'
        nextLink:
          type: string
    Sku:
      type: object
      description: SQL pool SKU.
      properties:
        tier:
          type: string
        name:
          type: string
        capacity:
          type: integer
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
