openapi: 3.2.0
info:
  title: Azure Synapse Analytics - Workspace Workspace Managed…
  description: Manage Synapse workspaces including creation, configuration, and lifecycle management of analytics environments through Azure Resource Manager.
  version: '2021-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspaceManagedIdentity
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/managedIdentitySqlControlSettings/default
  : get:
      operationId: WorkspaceManagedIdentitySqlControlSettings_Get
      summary: Azure Synapse Analytics Get managed identity SQL control settings
      description: Get Managed Identity Sql Control Settings.
      tags:
      - WorkspaceManagedIdentity
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved the managed identity SQL control settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedIdentitySqlControlSettingsModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: WorkspaceManagedIdentitySqlControlSettings_CreateOrUpdate
      summary: Azure Synapse Analytics Create or update managed identity SQL control settings
      description: Create or update Managed Identity Sql Control Settings.
      tags:
      - WorkspaceManagedIdentity
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedIdentitySqlControlSettingsModel'
      responses:
        '200':
          description: Successfully updated the settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedIdentitySqlControlSettingsModel'
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedIdentitySqlControlSettingsModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2021-06-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
  schemas:
    ManagedIdentitySqlControlSettingsModel:
      type: object
      description: SQL control settings for the workspace managed identity.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            grantSqlControlToManagedIdentity:
              type: object
              properties:
                desiredState:
                  type: string
                  description: Desired state.
                  enum:
                  - Enabled
                  - Disabled
                actualState:
                  type: string
                  description: Actual state.
                  readOnly: true
                  enum:
                  - Enabling
                  - Enabled
                  - Disabling
                  - Disabled
                  - Unknown
    ErrorResponse:
      type: object
      description: Error response from the Azure Synapse service.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Error message.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
