openapi: 3.2.0
info:
  title: Azure Synapse Analytics Kusto Pools API
  description: Manage Data Explorer (Kusto) pools within a Synapse workspace for real-time log and telemetry analytics. Supports creating pools, databases, and managing data connections.
  version: 2021-06-01-preview
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: KustoPools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/kustoPools
  : get:
      operationId: KustoPools_ListByWorkspace
      summary: Azure Synapse Analytics List Kusto pools
      description: List all Kusto pools in a workspace.
      tags:
      - KustoPools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved the list of Kusto pools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KustoPoolListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/kustoPools/{kustoPoolName}
  : get:
      operationId: KustoPools_Get
      summary: Azure Synapse Analytics Get a Kusto pool
      description: Gets a Kusto pool.
      tags:
      - KustoPools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/KustoPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KustoPool'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: KustoPools_CreateOrUpdate
      summary: Azure Synapse Analytics Create or update a Kusto pool
      description: Create or update a Kusto pool.
      tags:
      - KustoPools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/KustoPoolNameParameter'
      - name: If-Match
        in: header
        schema:
          type: string
      - name: If-None-Match
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KustoPool'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KustoPool'
        '201':
          description: Successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KustoPool'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: KustoPools_Update
      summary: Azure Synapse Analytics Update a Kusto pool
      description: Update a Kusto pool.
      tags:
      - KustoPools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/KustoPoolNameParameter'
      - name: If-Match
        in: header
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KustoPoolUpdate'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KustoPool'
        '202':
          description: Update accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: KustoPools_Delete
      summary: Azure Synapse Analytics Delete a Kusto pool
      description: Deletes a Kusto pool.
      tags:
      - KustoPools
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/KustoPoolNameParameter'
      responses:
        '200':
          description: Successfully deleted.
        '202':
          description: Deletion accepted.
        '204':
          description: Not found.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      schema:
        type: string
    KustoPoolNameParameter:
      name: kustoPoolName
      in: path
      required: true
      description: The name of the Kusto pool.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: 2021-06-01-preview
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
  schemas:
    KustoPoolUpdate:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          properties:
            name:
              type: string
            capacity:
              type: integer
            size:
              type: string
        properties:
          type: object
          properties:
            optimizedAutoscale:
              type: object
              properties:
                version:
                  type: integer
                isEnabled:
                  type: boolean
                minimum:
                  type: integer
                maximum:
                  type: integer
            enableStreamingIngest:
              type: boolean
            enablePurge:
              type: boolean
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    KustoPoolListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/KustoPool'
    KustoPool:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          required:
          - name
          - size
          properties:
            name:
              type: string
              enum:
              - Storage optimized
              - Compute optimized
            capacity:
              type: integer
            size:
              type: string
              enum:
              - Extra small
              - Small
              - Medium
              - Large
        etag:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            state:
              type: string
              readOnly: true
              enum:
              - Creating
              - Unavailable
              - Running
              - Deleting
              - Deleted
              - Stopping
              - Stopped
              - Starting
              - Updating
            provisioningState:
              type: string
              readOnly: true
            uri:
              type: string
              readOnly: true
            dataIngestionUri:
              type: string
              readOnly: true
            stateReason:
              type: string
              readOnly: true
            optimizedAutoscale:
              type: object
              properties:
                version:
                  type: integer
                isEnabled:
                  type: boolean
                minimum:
                  type: integer
                maximum:
                  type: integer
            enableStreamingIngest:
              type: boolean
              default: false
            enablePurge:
              type: boolean
              default: false
            workspaceUID:
              type: string
              readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
