openapi: 3.2.0
info:
  title: Azure Synapse Analytics Private Link Hubs API
  description: Manage private link hubs that enable connecting to Synapse Studio through Azure Private Link. Provides centralized private connectivity for workspace management operations.
  version: '2021-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkHubs
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Synapse/privateLinkHubs:
    get:
      operationId: PrivateLinkHubs_List
      summary: Azure Synapse Analytics List private link hubs by subscription
      description: Returns a list of privateLinkHubs in a subscription.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully retrieved the list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHubInfoListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs:
    get:
      operationId: PrivateLinkHubs_ListByResourceGroup
      summary: Azure Synapse Analytics List private link hubs by resource group
      description: Returns a list of privateLinkHubs in a resource group.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: Successfully retrieved the list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHubInfoListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}
  : get:
      operationId: PrivateLinkHubs_Get
      summary: Azure Synapse Analytics Get a private link hub
      description: Gets a privateLinkHub.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: privateLinkHubName
        in: path
        required: true
        description: Name of the private link hub.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHub'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: PrivateLinkHubs_CreateOrUpdate
      summary: Azure Synapse Analytics Create or update a private link hub
      description: Creates or updates a privateLinkHub.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: privateLinkHubName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkHub'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHub'
        '201':
          description: Successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHub'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: PrivateLinkHubs_Update
      summary: Azure Synapse Analytics Update a private link hub
      description: Updates a privateLinkHub.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: privateLinkHubName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkHubPatchInfo'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkHub'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: PrivateLinkHubs_Delete
      summary: Azure Synapse Analytics Delete a private link hub
      description: Deletes a privateLinkHub.
      tags:
      - PrivateLinkHubs
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: privateLinkHubName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted.
        '202':
          description: Deletion accepted.
        '204':
          description: Not found.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    PrivateLinkHubPatchInfo:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
    PrivateLinkHubInfoListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkHub'
        nextLink:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    PrivateLinkHub:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            privateEndpointConnections:
              type: array
              readOnly: true
              items:
                type: object
                properties:
                  id:
                    type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2021-06-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
