openapi: 3.2.0
info:
  title: Azure Synapse Analytics - Azure AD Only Authentication…
  description: Manage Azure Active Directory only authentication settings for Synapse workspaces. Enables enforcing Azure AD authentication and disabling SQL authentication for enhanced security.
  version: '2021-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: AzureADOnlyAuthentications
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/azureADOnlyAuthentications
  : get:
      operationId: AzureADOnlyAuthentications_List
      summary: Azure Synapse Analytics List Azure AD only authentications
      description: Gets a list of Azure Active Directory only authentication property for a workspace.
      tags:
      - AzureADOnlyAuthentications
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved the list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureADOnlyAuthenticationListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/azureADOnlyAuthentications/{azureADOnlyAuthenticationName}
  : get:
      operationId: AzureADOnlyAuthentications_Get
      summary: Azure Synapse Analytics Get Azure AD only authentication
      description: Gets a Azure Active Directory only authentication property.
      tags:
      - AzureADOnlyAuthentications
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - name: azureADOnlyAuthenticationName
        in: path
        required: true
        description: Name of the Azure AD only authentication (default).
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureADOnlyAuthentication'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: AzureADOnlyAuthentications_Create
      summary: Azure Synapse Analytics Create or update Azure AD only authentication
      description: Create or Update a Azure Active Directory only authentication property for the workspaces.
      tags:
      - AzureADOnlyAuthentications
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - name: azureADOnlyAuthenticationName
        in: path
        required: true
        schema:
          type: string
          enum:
          - default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureADOnlyAuthentication'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureADOnlyAuthentication'
        '201':
          description: Successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureADOnlyAuthentication'
        '202':
          description: Accepted.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2021-06-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
  schemas:
    AzureADOnlyAuthenticationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AzureADOnlyAuthentication'
        nextLink:
          type: string
    AzureADOnlyAuthentication:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            azureADOnlyAuthentication:
              type: boolean
              description: Azure Active Directory only Authentication enabled.
            state:
              type: string
              readOnly: true
              enum:
              - Consistent
              - InConsistent
              - Updating
            creationDate:
              type: string
              format: date-time
              readOnly: true
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
