openapi: 3.2.0
info:
  title: Azure Synapse Analytics Synapse Link API
  description: Manage Azure Synapse Link for real-time analytics over operational data. Enables hybrid transactional and analytical processing without impacting operational workloads.
  version: '2021-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: SynapseLink
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/synapseLinks
  : get:
      operationId: SynapseLinks_ListByWorkspace
      summary: Azure Synapse Analytics List Synapse Link configurations
      description: Returns a list of Synapse Link configurations in the workspace.
      tags:
      - SynapseLink
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved the list of Synapse Link configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynapseLinkListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2021-06-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
  schemas:
    SynapseLinkListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SynapseLink'
        nextLink:
          type: string
    SynapseLink:
      type: object
      description: A Synapse Link configuration resource.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            sourceDatabase:
              type: object
              properties:
                linkedServiceName:
                  type: string
                databaseName:
                  type: string
            targetDatabase:
              type: object
              properties:
                sqlPoolName:
                  type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
